.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
}

.modal {
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10000;
    width: fit-content;
    border: none;
}

.container {
    position: relative;
    z-index: 10000;
    height: 95%;
    margin: 20px;
}

.img {
    border-radius: 6px;
    height: 100%;
}

.caption {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    width: calc(100% - 20px);
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}